
###> symfony/framework-bundle ###
.DS_Store
.env
.env.test
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
./credentials.json
./src/Entity/token.json

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

### idea file
/.idea/
/service_descriptor/node_modules/